.titles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titles div {
  width: 20%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  background-color: #aaa;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item .order {
  margin: 5px 0;
  width: 20%;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
}
.item .time {
  margin: 5px 0;
  width: 25%;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
}
.item .action {
  margin: 5px 0;
  width: 20%;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
}
.item .win {
  margin: 5px 0;
  width: 20%;
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
}
.item .image {
  margin: 5px 0;
  width: 100px;
  height: 100px;
  font-size: 15px;
  font-weight: normal;
}
