.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-score {
  width: 100px;
  height: 122px;
}
.black-score span {
  font-size: 30px;
  font-weight: bold;
}
.chess-black {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
}

.white-score {
  width: 100px;
  height: 122px;
}
.white-score span {
  font-size: 30px;
  font-weight: bold;
}
.chess-white {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
}

.score {
  margin-top: 25px;
  text-align: center;
  width: 100%;
  font-size: 17px;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
}
.button {
  width: 200px;
  height: 89px;
  border-radius: 44px;
  padding: 22px, 24px, 22px, 24px;
  gap: 24px;
  font-size: 24px;
  font-weight: bold;
  margin: 0 20px;
}
.btn1 {
  background-color: #000;
  color: #fff;
}
.btn2 {
  background-color: #aaaaaa;
  color: #fff;
}
.btn3 {
  background-color: #fff;
}

button:hover {
  color: red;
  padding-bottom: 8px;
}
.popup-winner {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
}
.serveBtn {
  width: 200px;
  height: 80px;
  border-radius: 20px;
  padding: 22px, 24px, 22px, 24px;
  gap: 24px;
  font-size: 24px;
  font-weight: bold;
  margin: 0 20px;
}

.img {
  position: relative;
  display: flex;
  justify-content: center;
}
.process {
  position: absolute;
  bottom: 5%;
  width: 80%;
}
